<div class="row">
    <div class="col-md-12">
        <h2>
            <i class="fa fa-envelope" style="color:royalblue"></i> Emails
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        {{email.email}}
        <span>
            <br> </span> {{email.name}}
    </div>

    <div class="col-md-4">
        Date: {{email.date |date:'fullydate'}}
        <span>
            <br> </span> {{email.date |date:'fullDate'}}
    </div>
</div>
<br>
<br>
<br>

<div class="card">
    <div class="card-body">
        <p>
            {{email.message}}
        </p>
    </div>
</div>

<br>

<div class="card">
    <div class="btn-group">
        <button type="button" class="btn btn-success" routerLink="../{{email.id}}/answer">Answer</button>
        <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
        <button type="button" class="btn btn-primary" (click)="onBack()">Back</button>
    </div>
</div>