<div class="container" style="text-align: center">
 

  
  <img class="rounded-circle" [src]="userUrl" style="top: 0%;margin-left:90%" width="10%" height="10%" *ngIf="userUrl"/>


  <p style="font-size:2vw; font-weight:bold">WE ARE AN EQUAL OPPORTUNITY EMPLOYER</p>

  <div class="jumbotron text-center">

    <div class="card bg-secondary text-white">
      <div class="card-body">
        <p style="font-size:1.7vw; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
          We consider applicants for all positions without regard to race, color, religion, sex, national origin, age, marital or veteran
          status, the presence of a non-job-related medical condition or disability, or any other legally protected status
        </p>
      </div>
    </div>


  </div>
</div>